#formularioAgregarPersonal{

    display: block;
    text-align: center;

}
.nombre, .apellido, .dni, .nacimiento, .ingreso {
    color: rgb(0, 0, 0);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.form-row {
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.form-row label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.form-row input {
    width: 200px;
}

.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{

    text-align: center;

}