.tabla_busqueda {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-collapse: collapse;
    border-spacing: 0;

}
  
  /* Estilo para las celdas de encabezado */
  .tabla_busqueda th {
    background-color: #FCFAA7;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilo para las celdas de datos */
  .tabla_busqueda td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilo para las filas alternas */
  .tabla_busqueda tr:nth-child(even) {
    background-color: #FCE453;
  }
  
  /* Estilo para resaltar al pasar el mouse sobre una fila */
  .tabla_busqueda tr:hover {
    background-color: #FCFAA7;
  }

  table{

    background-color: #FFCD45;

  }