
.cuatrimestre {
    color: rgb(0, 0, 0);
    font-size: medium;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.intereses {
    color: rgb(0, 0, 0);
    font-size: medium;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;    
    
}

.nombre, .apellido, .mail, .telefono {
    color: rgb(0, 0, 0);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.provincia{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}

.pro {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#formularioContacto {
    display: block;
    text-align: center;
    
}


@media only screen and (max-width:450px) {
    
    /* Estilos de los labels e input */

    .form-row {
        display: flex;
        margin-bottom: 10px;
    }
    
    .form-row label {
        width: 100px;
        text-align: right;
        margin-right: 10px;
    }
    
    .form-row input {
        width: 200px;
    }

    /*Estilos de los checks*/

    .checks {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .checks input {
        margin-right: 10px;
    }
    /*Comparte con horario de contacto*/
    .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intereses {
    
    display: flex;
    flex-direction:column ;
    
    }

    /* Estilos para los radios */

    .cuatrimestre{

        display: flex;

    }

    /*Estilos para Mensaje */

    #provincia {

        display: block;
        width: 300px;
        margin-top: 10px;

    }

    .button-box{

        margin-top: 10px;
        margin-bottom: 10px;

    }

    /* Estilos para footer */

    .footer{

        min-height: 8vh;

    }

}

@media only screen and (min-width:451px) and (max-width:800px){

        /* Estilos de los labels e input */

        .form-row {
            display: flex;
            margin-bottom: 10px;
            justify-content: center;
            align-items: center;
        }
        
        .form-row label {
            width: 100px;
            text-align: right;
            margin-right: 10px;
        }
        
        .form-row input {
            width: 200px;
        }

            /*Estilos de los checks*/

    .checks {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .checks input {
        margin-right: 10px;
    }
    /*Comparte con horario de contacto*/
    .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intereses {
    
    display: flex;
    flex-direction:column ;
    
    }

        /* Estilos para los radios */

        .cuatrimestre{

            display: flex;
    
        }
    
        /*Estilos para Mensaje */
    
        #provincia {
    
            display: block;
            width: 300px;
            margin-top: 10px;
    
        }
    
        .button-box{
    
            margin-top: 10px;
            margin-bottom: 10px;
    
        }
    
        /* Estilos para footer */
    
        .footer{
    
            min-height: 1vh;
    
        }

}

@media only screen and (min-width:801px){

        /* Estilos de los labels e input */

        .form-row {
            display: flex;
            margin-bottom: 10px;
            justify-content: center;
            align-items: center;
        }
        
        .form-row label {
            width: 100px;
            text-align: right;
            margin-right: 10px;
        }
        
        .form-row input {
            width: 200px;
        }

            /*Estilos de los checks*/

    .checks {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .checks input {
        margin-right: 10px;
    }
    /*Comparte con horario de contacto*/
    .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intereses {
    
    display: flex;
    flex-direction:column ;
    
    }

        /* Estilos para los radios */

        .cuatrimestre{

            display: flex;
    
        }
    
        /*Estilos para Mensaje */
    
        #provincia {
    
            display: block;
            width: 300px;
            margin-top: 10px;
    
        }
    
        .button-box{
    
            margin-top: 10px;
            margin-bottom: 10px;
    
        }
    
        /* Estilos para footer */
    
        .footer{
    
            min-height: 1vh;
    
        }

}