body {
    
    min-height: 100vh;
    background: url("../assets/images/imagenf1.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;

}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: x-large;
    text-decoration: underline;
    font-weight:700;
    
}

#pie{
    background-color: #DFF216;
    padding: 3rem;
    font: 1em sans-serif;
    
}

@media only screen and (max-width:450px){

    h1{

        font-size: 20px;

    }

    h2{

        font-size: 18px;

    }

    h4{

        font-size: 12px;

    }

    label{

        font-size: 16px;

    }

    #pie{

        display: flex;
        justify-content: center;
        min-height: 1vh;
        padding-top: 0;

    }

}

@media only screen and (min-width:451px) and (max-width:800px){

    h1{

        font-size: 22px;

    }

    h2{

        font-size: 20px;

    }

    h4{

        font-size: 14px;

    }

    label{

        font-size: 18px;

    }

    #pie{

        display: flex;
        justify-content: center;
        min-height: 1vh;
        padding-top: 0;

    }

}

@media only screen and (min-width:801px){

    h1{

        font-size: 24px;

    }

    h2{

        font-size: 22px;

    }

    h4{

        font-size: 16px;

    }

    label{

        font-size: 20px;

    }

    #pie{

        display: flex;
        justify-content: center;
        min-height: 1vh;
        padding-top: 0;

    }

}