@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: white;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav {
  background-color: #4c7c74;
  height: 50px;
  display: flex;
  align-items: center;
}

.nav .logo {
  margin-left: 20px;
}

.nav .logo i {
  color: white;
}

.nav .logo span {
  color: white;
  font-size: 21px;
  font-weight: 700;
  margin-left: 15px;
}

.nav .links {
  flex-grow: 1;
}

.nav .links > ul {
  display: flex;
  justify-content: end;
  gap: 35px;
  margin: 0;
  padding-right: 30px;
}

.nav .links > ul > li {
  list-style-type: none;
}

.nav .links > ul > li > a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav .links > ul > li > a:hover {
  color: #e1e1e1;
}

.nav .logo .fa-user-group:before {
  content: "\f500";
  padding: 8px;
}

.row-info {
  display: flex;
  justify-content: center;
}

.row-info .content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  min-height: 428px;
}

.row-info .content .col-img {
  padding-left: 50px;
}

.row-info .content .col-img img {
  border-radius: 18px;
}

.row-info .content .col-6 h1 {
  font-size: 40px;
}

.row-info .content .col-6 p {
  font-weight: 400;
  font-size: 15px;
}

.row-info .content .p-30 {
  padding: 30px;
}

.row-info .content .cont-btns {
  display: flex;
  padding-top: 10px;
}

.col-6 {
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
  padding-bottom: 0;
}

.col-6 h1,
.col-6 p {
  color: #4c7c74;
}

.col-6 h1 {
  font-weight: 800;
}

.col-6 > img {
  max-width: 100%;
}

.btn-contact {
  background-color: #1b87e6;
  width: 135px;
  height: 46px;
  cursor: pointer;
  border: solid 2px white;
  border-radius: 60px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.btn-contratar {
  background-color: #ff9f00;
  width: 260px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.cont-destiny-btn {
  background-color: #bebebe;
  display: inline-flex;
  padding: 0;
  margin: 0;
  gap: 3px;
  align-items: center;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 4.375rem;
  padding: 3px;
}

.cont-destiny-btn > li {
  list-style-type: none;
  background-color: #111111;
  color: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 4.375rem;
  font-size: 13px;
}

.cont-info-services {
  display: flex;
  background-color: #f1f1f1b5;
  border-radius: 15px;
  margin-left: 80px;
  margin-right: 80px;
  height: 250px;
  align-items: center;
}

.cont-info-services .service-main > h5 {
  margin: 0;
}

.cont-info-services .service-main > h5 {
  font-size: 28px;
}

.cont-info-services .service-main .info-plan h4 {
  margin: 0;
  padding: 6px;
  font-weight: 500;
  font-size: 14px;
}

.cont-info-services .service-main .info-plan {
  background: #769e94;
  display: inline-block;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #000000;
  padding: 4px;
}

.childs > div > p {
  font-weight: 400;
  font-size: 15px;
  padding-top: 10px;
}

.childs i {
  padding-right: 5px;
}

.childs > div > strong {
  font-size: 23px;
  font-weight: 800;
}

.childs > div .icon-child i {
  font-size: 25px;
  margin-bottom: 15px;
}

.service-main {
  flex-grow: 1;
  padding: 20px;
  margin-left: 50px;
}

.childs {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding-right: 40px;
  margin-top: 15px;
}

.childs > div {
  flex: 1;
  padding: 20px;
}

.banner-promotion {
  background: #f1f1f1b5;
  margin-top: 35px;
  height: 130px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.banner-promotion span {
  text-decoration: underline;
}

.banner-promotion strong {
  font-size: 17px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 50px;
}

.div1 {
  grid-area: 1 / 3 / 1 / 4;
  padding-right: 40px;
  padding-top: 15px;
}
.div2 {
  grid-area: 1 / 4 / 4 / 4;
}

.div3 {
  grid-area: 2 / 3 / 5 / 4;
  padding-right: 40px;
}

.div4 {
  grid-area: 2 / 4 / 2 / 4;
}

.div5 {
  grid-area: 3 / 3 / 3 / 4;
  padding-right: 40px;
}

.div6 {
  grid-area: 3 / 5 / 4 / 4;
}

.parent img {
  border-radius: 30px;
  min-width: 500px;
  max-width: 500px;
  min-height: 740px;
  max-height: 740px;
}

.angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
  gap: 30px;
  height: 100%;
  margin-top: 40px;
}

#carrito {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: white;
  transition: transform 1s ease;
  transform: translateX(100%);
  border: solid black 2px;
}

#carrito.mostrar {
  transform: translateX(0);
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
#item-1 {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
}
#item-2 {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
}
#item-3 {
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#item-4 {
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#item-5 {
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 6;
  grid-column-end: 4;
}

.angry-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.angry-grid h2 {
  color: #4c7c74;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0;
}

.angry-grid p {
  font-size: 18px;
  font-weight: 400;
}

.reciclaje {
  background: #769e94;
  margin-top: 35px;
  height: 130px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.reciclaje ul {
  display: flex;
  gap: 35px;
}

.reciclaje ul > li {
  list-style-type: none;
  color: white;
  font-size: 19px;
  font-weight: 800;
}

.cont-best-seller h2 {
  color: #4c7c74;
  font-size: 40px;
}

.cont-best-seller {
}

.card {
  max-width: 350px;
  background-color: #f1f1f1b5;
  margin: 0;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.card-title {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.card .cont-card-description {
  display: inline-block;
  background-color: white;
  color: white;
}

.cont-cards {
  padding-bottom: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card .cont-card-description p {
  text-align: center;
  margin: 0;
  border-radius: 20px;
  color: black;
}

.card .description-food {
  display: flex;
  font-size: 14px;
  gap: 10px;
  text-align: center;
}

.card .description-food p {
  margin-top: 4px;
  color: #656565;
}

.card .cont-flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card .cont-card-description {
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card .price {
  display: flex;
  justify-content: center;
  background-color: #ff9f00;
  font-size: 19px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonPrice {

  width: 100%;

}

.card .description-food span {
  color: black;
  font-weight: 500;
}

.invisible {
  display: none;
}

.preguntas-cont {
  margin-top: 20px;
}

.cont-best-seller > div > h2 {
  text-align: center;
}

.preguntas-cont .duda-text {
  text-align: center;
}

.preguntas-cont .duda-text h5 {
  font-size: 18px;
  color: #656565;
  font-weight: 400;
  margin: 0;
}

.preguntas-cont .duda-text h1 {
  margin: 0;
  margin-top: 3px;
  font-size: 35px;
  font-weight: 800;
}

.preguntas-cont .preguntas-flex {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 65px;
}

.preguntas-cont .cont-preguntas-recurrentes {
  width: 800px;
}

.preguntas-cont .cont-preguntas-recurrentes .betwen {
  display: flex;
  justify-content: space-between;
}

.preguntas-cont .cont-preguntas-recurrentes p {
  margin: 0;
  font-size: 19px;
  font-weight: 500;
}

.footer-site {
  background-color: #4c7c74;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-site h5 {
  font-weight: 700;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-site p {
  font-size: 15px;
  margin: 10px;
  padding-left: 0;
  margin-left: 0;
}

.footer-site .contact {
  margin-bottom: 30px;
}

.footer-site h4 {
  font-size: 25px;
}

.footer-site .cont-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-site .cont-icons i {
  font-size: 25px;
}

.info-company {
  display: none;
}

.container {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
}

.fondo {
  position: relative;
  background-image: url("https://media.gq.com.mx/photos/5f317fa2356b187cffb8431b/16:9/w_2991,h_1682,c_limit/comida%20saludable.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad aquí */
}

.fondo h1,
.fondo p,
.fondo button {
  position: relative;
  z-index: 1;
}

.container .fondo p {
  margin: 0;
}

.container .btn-contratar {
  margin-top: 40px;
  margin-bottom: 30px;
}

.almuerzos .cont-title-almuerzo h1 {
  color: #4c7c74;
  font-size: 29px;
  margin-left: 13px;
}

.postres .cont-title-postres h1 {
  color: #4c7c74;
  font-size: 29px;
  margin-left: 13px;
}

.cupon {
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centrar contenido */
  margin: 10px; /* Espacio entre los cupones */
}

/* Estilos para el título del cupón */
.cupon p {
  font-size: 24px; /* Tamaño de fuente grande */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 10px; /* Espacio inferior */
}

/* Estilos para el input del descuento */
#desuento1_input {
  font-size: 24px; /* Tamaño de fuente grande */
  font-weight: bold; /* Texto en negrita */
  width: 50px; /* Ancho del input */
  text-align: center; /* Centrar texto */
  border: none; /* Sin borde */
  background-color: #fff; /* Fondo blanco */
}

/* Estilos para el label del descuento */
label[for="desuento1_input"] {
  font-size: 18px; /* Tamaño de fuente */
  color: #666; /* Color de texto gris */
  margin-right: 10px;
}

/* Estilos para el botón de usar cupón */
#desuento1_boton {
  background-color: #4caf50; /* Fondo verde */
  color: #fff; /* Texto blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 18px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor de puntero al pasar */
  transition: background-color 0.3s; /* Transición suave */
}

/* Estilos para el botón de usar cupón al pasar el mouse */
#desuento1_boton:hover {
  background-color: #45a049; /* Cambio de color al pasar */
}

.ofertas-especiales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ofertas-especiales .cupon img {
  width: 250px;
}

.form-style {
  margin-top: 20px;
}

.promociones-disponibles h1 {
  color: #4c7c74;
  font-size: 29px;
  margin-left: 13px;
}

.container-contact {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-contact h1 {
  text-align: center;
  color: #333;
}

.container-contact p {
  text-align: center;
  color: #555;
}

.container-contact form {
  margin-top: 20px;
}

.container-contact label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.container-contact input[type="text"],
.container-contact input[type="email"],
.container-contact input[type="tel"],
.container-contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.container-contact textarea {
  resize: vertical;
}

.container-contact input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.container-contact input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 500px) {
  .nav .logo span {
    font-size: 30px;
  }
  .nav {
    height: 160px;
  }

  html {
    display: flex !important;
  }

  .nav .links > ul {
    padding-right: 70px;
  }

  .nav .links > ul > li > a {
    font-size: 20px;
  }
  .row-info .content {
    height: 660px;
  }

  .row-info .content {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
  .row-info .content .col-img {
    padding-left: 0;
  }

  .row-info .content .col-6 h1 {
    font-size: 50px;
  }

  .row-info .content .col-6 p {
    font-size: 25px;
  }

  .cont-btns .btn-contratar {
    background-color: #ff9f00;
    width: 363px;
    height: 76px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 23px;
  }

  .row-info .content .cont-btns {
    padding-top: 30px;
  }

  .cont-info-services {
    display: block;
    height: 800px;
  }

  .cont-info-services .childs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0;
    gap: 25px;
    margin-top: 30px;
  }

  .cont-info-services .childs > div {
    flex: 0 0 calc(50% - 15px); /* Ajusta el cálculo para incluir el gap */
    box-sizing: border-box;
    background: #eaeaea;
    border-radius: 15px;
    height: 330px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .cont-info-services .childs > div strong {
    font-size: 40px;
    color: #1b1a1a;
  }

  .cont-info-services .childs > div p {
    font-size: 25px;
    width: 460px;
    font-weight: 500;
  }

  .cont-info-services {
    background-color: white;
  }

  .service-main {
    margin-left: 0;
  }

  .cont-info-services .service-main .info-plan h4 {
    margin: 0;
    padding: 10px;
    font-weight: 500;
    font-size: 21px;
  }

  .banner-promotion {
    margin-top: 120px;
  }

  .banner-promotion strong {
    font-size: 22px;
  }

  .angry-grid {
    display: none;
  }

  .info-company {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 60px;
  }

  .info-section {
    display: flex;
    flex-direction: column;
    width: 48%; /* Ajusta el ancho según sea necesario */
  }

  .info-section img {
    max-width: 100%;
    height: auto;
  }

  .info-company .info-section > div h2 {
    font-size: 43px;
  }

  .info-company .info-section > div p {
    font-size: 25px;
  }

  .info-company img {
    border-radius: 15px;
    min-height: 700px;
    max-height: 700px;
    min-width: 530px;
  }

  .img-company {
    margin-top: 40px;
  }

  .image-company-2 {
    margin-top: 69px;
  }

  .reciclaje {
    margin-top: 80px;
    background-color: #f1f1f1b5;
  }

  .reciclaje ul {
    gap: 80px;
  }

  .reciclaje ul > li {
    color: #333;
    font-size: 20px;
    font-weight: 500;
  }

  .last-item-reciclaje {
    display: none;
  }

  .cont-cards {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 70px;
  }

  .card {
    max-width: 100%;
  }

  .card-title {
    font-size: 35px;
  }

  .card .description-food {
    font-size: 20px;
  }

  .card .cont-flex {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .card .price {
    font-size: 30px;
  }

  .cont-best-seller > div > h2 {
    font-size: 55px;
  }

  .cont-best-seller {
    margin-top: 70px;
  }

  .preguntas-cont .duda-text h5 {
    font-size: 35px;
  }

  .preguntas-cont .duda-text h1 {
    font-size: 50px;
    margin-top: 15px;
  }

  .preguntas-flex .cont-preguntas-recurrentes > div .betwen p {
    font-size: 33px;
  }

  .preguntas-flex .cont-preguntas-recurrentes > div .betwen span {
    font-size: 33px;
  }

  .preguntas-flex .cont-preguntas-recurrentes > div .betwen {
    margin-top: 40px;
  }

  .preguntas-flex {
    margin-top: 50px;
  }

  .footer-site > div h4 {
    font-size: 50px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 35px;
  }

  .footer-site {
    height: 300px;
  }

  .footer-site .cont-icons i {
    font-size: 40px;
  }

  .footer-site .cont-icons {
    gap: 30px;
  }

  .contact h5 {
    font-size: 45px;
  }

  .contact p {
    font-size: 30px;
  }

  .contact-title {
    margin-bottom: 33px;
    margin-top: 33px;
  }
}
