body {
    min-height: 100vh;
    background: url("../assets/images/imagenf1.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;

}

h1 {
    text-align: center;
    color: blue;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: larger;
    text-decoration: underline;
    font-weight:700;
    
}

.cuatrimestre {
    color: rgb(0, 0, 0);
    font-size: medium;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.intereses {
    color: rgb(0, 0, 0);
    font-size: medium;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;    
    
}

.menu {
    display: block; /* Ocultar el menú por defecto */
}

.menu-icon {
    display: none; /* Ocultar el icono en pantallas grandes */
    cursor: pointer;
}

#menu-toggle {
    display: none; /* Mostrar el menú al hacer clic en el icono */
}

.nombre, .apellido, .mail, .telefono {
    color: rgb(0, 0, 0);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.provincia{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}

.pro {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#formularioContacto {
    display: block;
    text-align: center;
    
}



#pie{
    background-color: orangered;
    padding: 3rem;
    font: 1em sans-serif;
    
}

@media only screen and (max-width:450px) {
    
    .menu {
        position: fixed;
        top: 0;
        left: -300px; /* Inicialmente oculto hacia la izquierda */
        width: 300px;
        height: 100%;
        background-color: #DFF216;
        transition: left 0.3s ease; /* Transición suave */
        border: black solid 3px;
    }

    .menu-icon {
        display: block;
        position: fixed; /* Posicion del icono de menu */
        top: 10px; 
        left: 10px; 
        z-index: 1000;
        color: black;
        font-weight: bold;
        border: solid 3px black;
        background-color: #DFF216;
        padding: 10px;
    }

    span {
        display: block;
        padding: 20px;
    }
    
    a {
        display: block;
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
        font-weight: bold;
    }

    a:hover{

        color: white;
        text-shadow: 2px 2px 4px black

    }

    /* Mostrar el menú al hacer clic en el icono */
    #menu-toggle:checked + .menu-icon + .menu {
        left: 0;
    }


    .checks {
        width: 50vw;
    }
    .intereses {
    
    display: flex;
    justify-content:center;
    
    }
}